<br/>
<table class="table table-striped table-bordered table-sm row-border hover"
       id="doctorHistoryTable">
  <thead>
  <tr>
    <th>Doctor</th>
    <th>Doctor Name</th>
    <th>Email</th>
    <th>Specialist</th>
    <th>Experience</th>
    <th>Age</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of data">
    <td>{{ user.name }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.phone }}</td>
    <td>{{ user.address.street }}</td>
    <td> {{ user.address.city }}</td>
    <td>{{ user.address.street }}</td>
    <td> {{ user.address.city }}</td>
    <td> {{ user.address.city }}</td>
  </tr>
  </tbody>
</table>
