<!--<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div style="width: 98%">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active font-weight-bold" data-bs-toggle="tab" routerLink="./home" data-toggle="tab"
                    type="button" role="tab" aria-controls="home" aria-selected="true">Hospital Management System</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link font-weight-bold" data-bs-toggle="tab" routerLink="about" data-toggle="tab"
                    type="button" role="tab" aria-controls="profile" aria-selected="false">About Us</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link font-weight-bold" data-bs-toggle="tab" routerLink="./contact" data-toggle="tab"
                    type="button" role="tab" aria-controls="messages" aria-selected="false">Contact Us</a>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link font-weight-bold" data-bs-toggle="tab" style="padding-left: 1050px" data-toggle="tab"
                    type="button" role="tab" aria-controls="settings" aria-selected="false">Register Patient</button>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link font-weight-bold" data-bs-toggle="tab" style="padding-left: 10px" routerLink="./login" data-toggle="tab"
                    type="button" role="tab" aria-controls="login" aria-selected="false">Login</a>
          </li>
        </ul>

        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

.container-fluid{
  margin-top: 10px;
  width: 1920px;
}

.nav-tabs .nav-item .nav-link {
  background-color: #CEE3DEFF;
  color: #0A0A0AFF;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #0080FF;
  color: #0A0A0AFF;
}
-->

<!--<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab"
             routerLink="./about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
             routerLink="./contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>-->


<h1>home works</h1>

