.container-fluid{
  margin-top: 10px;
  width: 1920px;
}

.nav-tabs .nav-item .nav-link {
  background-color: #CEE3DEFF;
  color: #0A0A0AFF;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #0080FF;
  color: #0A0A0AFF;
}
