<router-outlet></router-outlet>

<!--
ng g m hospital/modules/home
ng g m hospital/modules/login
ng g m hospital/modules/patient
ng g m hospital/modules/admin
ng g m hospital/modules/doctor
ng g m hospital/modules/pageNotFound
ng g c hospital/components/home
ng g c hospital/components/login
ng g c hospital/components/admin
ng g c hospital/components/doctor
ng g c hospital/components/patient

ng g c hospital/components/home --module=hospital/modules/home/home.module.ts
ng g c hospital/components/patient --module=hospital/modules/patient/patient.module.ts
ng g c hospital/components/admin --module=hospital/modules/admin/admin.module.ts
ng g c hospital/components/doctor --module=hospital/modules/doctor/doctor.module.ts
ng g c hospital/components/login --module=hospital/modules/login/login.module.ts
ng g c hospital/components/pageNotFound --module=hospital/modules/page-not-found/page-not-found.module.ts
-->

<!--
sudo npm i jquery --save
sudo npm i datatables.net --save
sudo npm i datatables.net-dt --save
sudo npm i angular-datatables --save
sudo npm i @types/jquery --save-dev
sudo npm i @types/datatables.net --save-dev
-->

<!--
sudo npm i bootstrap --save
sudo npm i bootstrap-icons --save

-->

