<div class="container-fluid border border-primary">
  <br/><br/>
      <nav class="navbar navbar-expand-xl bg-light fixed-top">
        <a class="nav-link text-danger navbar-brand"
           style="padding-left: 20px"
           routerLink="./home" href="#">Hospital Management System</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-danger" routerLink="./about" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" routerLink="./contact" href="#">Contact Us</a>
          </li>
          <li class="nav-item" style="padding-left: 750px">
            <a class="nav-link text-danger" routerLink="./patient" href="#">Register Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" routerLink="./login" href="#">Login</a>
          </li>
        </ul>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent1">
        <router-outlet></router-outlet>
      </div>
</div>


<!--<router-outlet></router-outlet>-->

<!--
ng g m hospital/modules/home
ng g m hospital/modules/login
ng g m hospital/modules/patient
ng g m hospital/modules/admin
ng g m hospital/modules/doctor
ng g m hospital/modules/pageNotFound
ng g m hospital/modules/about
ng g m hospital/modules/contact
ng g c hospital/components/home
ng g c hospital/components/login
ng g c hospital/components/admin
ng g c hospital/components/doctor
ng g c hospital/components/patient

ng g c hospital/components/home --module=hospital/modules/home/home.module.ts
ng g c hospital/components/patient --module=hospital/modules/patient/patient.module.ts
ng g c hospital/components/admin --module=hospital/modules/admin/admin.module.ts
ng g c hospital/components/doctor --module=hospital/modules/doctor/doctor.module.ts
ng g c hospital/components/login --module=hospital/modules/login/login.module.ts
ng g c hospital/components/pageNotFound --module=hospital/modules/page-not-found/page-not-found.module.ts
ng g c hospital/components/about --module=hospital/modules/about/about.module.ts
ng g c hospital/components/contact --module=hospital/modules/contact/contact.module.ts
-->

<!--
sudo npm i jquery --save
sudo npm i datatables.net --save
sudo npm i datatables.net-dt --save
sudo npm i angular-datatables --save
sudo npm i @types/jquery --save-dev
sudo npm i @types/datatables.net --save-dev
-->

<!--
sudo npm i bootstrap --save
sudo npm i bootstrap-icons --save

-->

